<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-padding">
    <a routerLink="/home" class="w3-bar-item w3-button w3-black">HOME</a>
    <a routerLink="/users" class="w3-bar-item w3-button w3-black">Users</a>
    <a routerLink="/books" class="w3-bar-item w3-button w3-black">BOOKS</a>
    <a routerLink="/register" class="w3-bar-item w3-button w3-black">REGISTER</a>
    <a routerLink="/login" class="w3-bar-item w3-button w3-black">LOGIN</a>
  </div>
</div>


<router-outlet></router-outlet>
